<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Les autres</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="meat">
  {{ template "main" . }}
</div>
</body>
</html>